<mat-grid-list cols="2" rowHeight="100">
  <mat-grid-tile>
    <button mat-raised-button>
      Ajouter un client
    </button>
  </mat-grid-tile>
  <mat-grid-tile>

  </mat-grid-tile>
  <mat-grid-tile>
    <form>
      <mat-form-field class="example-full-width">
        <input matInput
               type="text"
               placeholder="Rechercher un client"
               color="white"
        >
      </mat-form-field>
    </form>
  </mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>


