/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-column-add {
    width: 1% !important;
  }

  .mat-accent {
    background-color: green;
  }