a
{
   color: rgb(255, 255, 255) !important;
}

table {
   width: 99%;
   margin: 5px;
   margin-bottom: 15px;
 }
 
 tr:hover{
    cursor: pointer;
    background-color: #EAECED;
 }

 button{
    margin: 2px;
 }

 .mat-form-field {
   font-size: 14px;
   width: 100%;
 }