<mat-sidenav-container class="example-container">
  <mat-sidenav class="sidebar" mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/">
          <mat-icon>Home</mat-icon><span class="nav-caption">Home</span>
      </a>
      <a mat-list-item routerLink="/reports">
          <mat-icon>list_alt</mat-icon><span class="nav-caption">Rapport des consultations</span>
      </a>
      <a mat-list-item routerLink="#">
          <mat-icon>view_list</mat-icon><span class="nav-caption">Clients</span>
      </a>
      <a mat-list-item routerLink="/test">
          <mat-icon>coronavirus</mat-icon><span class="nav-caption">Maladies</span>
      </a>
      <a mat-list-item routerLink="/breeds">
          <mat-icon>pets</mat-icon><span class="nav-caption">Races</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <h1>{{title}}</h1>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
